/* Inserta tu CSS aqui */
.boton{
	margin: 10px;
	display: block;
	width: 100px;
	padding:10px 0;
	border-radius: 5px;
	background-color: #FFC0F2;
	text-align: center;
	border:1px solid #DF8DFF;
	font-family: Verdana;
}
.rojo{
	width: 400px;
	height: 400px;
	background-color: #F91C1C;
	position: static;
}
.morado{
	width: 200px;
	height: 200px;
	background-color: #6903B0;
	position:absolute;
	left:100px;
	top:100px;
}
.amarillo{
	width: 100px;
	height: 100px;
	background-color: #F9EC1C;
	position: absolute;
	top:0;
	left:0;
}